[% PROCESS common/header.tt%]

<ul class="gallery">
	[% FOREACH fieldname in events.keys %]
	<li>
		<div style="float:left;margin:10px;text-align:center">
			<p style="font-size:15px">上传时间：[% date %] [% events.$fieldname.title %]</p>
			<a href="[% events.$fieldname.link %]" target="_self"><img src="[% events.$fieldname.name %]"></a>
		</div>
	</li>
	[% END %]
</ul>