<div class="nav">
  <p>
  	<a href="/[% name %]">返回[% name %]的首页</a> | <span style="font-size:24px;font-weight:heavy;margin:10px;">[% message %]</span>
   </p>
  <img src="[% qrcode_url %]" style="width:150px">
</div>